<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Packer Tracker!</title>
  </head>
  <body>
    <h1>Packer Tracker!</h1>

    <form action="/packerTracker" method="post">
      <label for="name">Location: </label>
      <input id="name" name="name" type="text">
      <label for="purchased">Supply Purchased: </label>
      <input id="purchased" name="purchased" type="text">
      <label for="notPurchased">Supply Needed: </label>
      <input id="notPurchased" name="notPurchased" type="text">
      <button type="apply">Plan Trip</button>
    </form>

  </body>
</html>
